# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
#*.la
#*.a
*.lib

# Executables
*.out
*.app

# Log and backup files
*.log
*.bkp
*~

# Eclipse business
Debug/
.project
.cproject
.pydevproject
.settings/
.pydevproject

# SWMR test binaries
swmr

.scons*

# Generated HDF5 files
*.h5
*.hdf
*.hdf5
